<!DOCTYPE html>
<html>
<head>
<title>Crypto Daily</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="https://bitpay.com/favicon.ico">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
  html, html * {
    font-family: Roboto;
  }
  p {
    font-size: 3em;
    line-height: 0px;
  }
  h3 {
    font-size: 1.3em;
  }
  .blue {
    color: #3f51b5;
  }
</style>
</head>
<body>
  <header class="w3-top w3-bar w3-theme">
    <h1 class="w3-bar-item">₿ Crypto Daily</h1>
  </header>
  <div class="w3-container" style="margin-top:70px">
  <hr>
  <div class="w3-cell-row">
    <div class="w3-cell w3-container">
      <h3>What you own</h3>
      {% set total=gains|sum(attribute='fiat_balance') %}
      {% set coins=gains|sum(attribute='coin_balance') %}
      {% set payments=gains|sum(attribute='fiat_buys') %}
      <p class="blue">
        {{ total| prettify }}
      </p>
      <i>You have spent <b>{{ payments|prettify }}</b></i>
    </div>
  </div>
  <hr>
  {% for g in gains %}
    <div class="w3-cell-row">
      <div class="w3-cell w3-container">
        <h3>{{ g.name }}</h3>
        <p class="blue">
          {{ g.fiat_balance | prettify  }}
        </p>
        <i>You bought <b>{{ g.coin_balance|prettify(g.currency) }}</b> and you spent <b>{{ g.fiat_buys|prettify }}</b></i></br>
        <i>Buy @ <b>{{ g.buy_price|prettify }}</b> Sell @ <b>{{ g.sell_price|prettify }}</b></i>
      </div>
    </div>
    <hr>
  {% endfor %}
  </div>

</body>
</html>
